.user__card {
  border: 2px solid #5294e2;
  border-radius: 8px;
  padding: 16px;
  width: 180px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.user__image {
  width: auto;
  height: 100px;
  object-fit: cover;
  margin: 0 auto 16px;
}

.user__info h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.user__info p {
  font-size: 0.9rem;
  color: #777;
}
